h1 {
    font-size: 2em;
    font-weight: 900;
    padding: 32px 16px 16px 16px;
    color: var(--v-secondary-base);
}

h2 {
    font-size: 1em;
    font-weight: 700;
    padding: 16px 16px 16px 16px;
    color: var(--v-primary-base);
}

h3 {
    font-size: 0.875em;
    font-weight: 700;
    padding: 12px 16px 12px 16px;
    color: var(--v-primary-base);
}

p {
    font-size: 0.875em;
    font-weight: 400;
    padding: 0px 16px 8px 16px;
}

.hint {
    font-size: 0.75em;
    font-weight: 300;
    padding: 8px 16px 8px 16px;
}

.v-toolbar__title {
    font-size: 1em !important;
    font-weight: 700;
}

.v-slider__tick-label {
    font-size: 0.75em;
    font-weight: 300;
}

.theme--dark {

    .hint,
    .v-slider__tick-label {
        color: #ffffffaa;
    }
}

.theme--light {

    .hint,
    .v-slider__tick-label {
        color: #00000099;
    }
}

.v-application p {
    margin-bottom: 0;
}